<div class="container">
  <ul class="nav nav-tabs bg-body nav-justified">
    <li class="nav-item" *ngFor="let step of steps; let i = index">
      <button
        [disabled]="true"
        (click)="onClick(i)"
        [class.active]="selectedIndex === i"
        class="nav-link py-3 text-uppercase fw-bold btn-block"
      >
        {{ step.label }}
      </button>
    </li>
  </ul>
  <div *ngIf="selected?.content">
    <ng-container [ngTemplateOutlet]="$any(selected?.content)"></ng-container>
  </div>
</div>
