<div class="container">
  <div *ngIf="(basket$ | async) === null">
    <p>There are no items in your basket</p>
  </div>
  <div *ngIf="basket$ | async as basket">
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <div class="table-responsive">
              <div class="table">
                <thead>
                  <tr>
                    <th class="border-0 bg-light" scope="col">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 px-3 text-uppercase">Price</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 px-3 text-uppercase">Quantity</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 px-3 text-uppercase">Total</div>
                    </th>
                    <th class="border-0 bg-light" scope="col">
                      <div class="py-2 px-3 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of basket.items">
                    <th scope="row">
                      <div class="p-2">
                        <img
                          src="{{ item.pictureUrl }}"
                          alt="{{ item.productName }}"
                          class="img-fluid"
                          style="max-height: 50px"
                        />
                        <div class="ms-3 d-inline-block align-middle">
                          <h5 class="mb-0">
                            <a
                              routerLink="/shop/{{ item.id }}"
                              class="text-dark"
                              >{{ item.productName }}
                            </a>
                          </h5>
                          <span class="text-muted fw-normal fst-italic d-block">
                            Type: {{ item.type }}
                          </span>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <strong>{{ item.price | currency }}</strong>
                    </td>

                    <td class="align-middle">
                      <div class="d-flex align-item-center">
                        <i
                          class="fa fa-minus-circle text-warning me-2"
                          style="cursor: pointer; font-size: 2em"
                          (click)="dncrementItemQuantity(item)"
                        ></i>
                        <span class="fw-bold me-2" style="font-size: 1.5em">{{
                          item.quantity
                        }}</span>
                        <i
                          class="fa fa-plus-circle text-warning"
                          style="cursor: pointer; font-size: 2em"
                          (click)="incrementItemQuantity(item)"
                        ></i>
                      </div>
                    </td>
                    <td class="align-middle">
                      <strong>{{
                        item.price * item.quantity | currency
                      }}</strong>
                    </td>
                    <td class="align-middle text-center mx-2">
                      <a class="text-danger" style="cursor: pointer">
                        <i
                          (click)="removeBasketItem(item)"
                          class="fa fa-trash"
                          style="font-size: 2em"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <app-order-totals></app-order-totals>
            <a
              routerLink="/checkout"
              class="btn btn-outline-primary py-2 w-100"
            >
              Proceed To CheckOut
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
