<carousel>
  <slide>
    <img
      src="../../../assets/Banner1.png"
      alt="first slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../assets/Banner2.png"
      alt="second slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img
      src="../../../assets/Banner1.png"
      alt="third slide"
      style="display: block; width: 100%"
    />
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
<!-- !ng-Carousel -->

<section class="featured">
  <div class="d-flex justify-content-center py-4">
    <h1>Welcome To Friday Shop!</h1>
  </div>
</section>
