<header id="header">
  <div class="strip d-flex justify-content-between px-4 bg-light">
    <a
      href="https://www.linkedin.com/in/mostafa-salahuddin/"
      class="font-rale font-size-12 text-black-50 m-0"
    >
      <span>Mostafa Salah - Egypt - Ain Shams (+20) 101-122-3816 </span>
    </a>
    <div class="font-rale font-size-14">
      <a href="#" class="px-3 border-end border-start text-dark">Login</a>
      <a href="#" class="px-3 border-end text-dark">WishList(0)</a>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
</header>
