<nav class="navbar navbar-expand-lg navbar-dark color-second-bg p-1">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Friday Mart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto font-rubik mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            style="cursor: pointer"
          >
            HOME
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shop"
            routerLinkActive="active"
            style="cursor: pointer"
          >
            SHOP
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/test-error"
            routerLinkActive="active"
            style="cursor: pointer"
          >
            Errors
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/shop"
            >Category <i class="fas fa-chevron-down"></i
          ></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">OnSale</a>
        </li> -->
        <!-- dropdown -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <div class="d-flex align-items-center" role="search">
        <a href="#" class="position-relative">
          <i class="fas fa-shopping-cart me-3 text-light"></i>
          <div class="position-absolute cart-no">5</div>
        </a>
        <!-- <input
          id="search"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="mx-1 btn btn-outline-dark" type="submit">Search</button> -->
      </div>
    </div>
  </div>
</nav>
