<nav class="navbar navbar-expand-lg navbar-dark color-second-bg p-1 bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder" routerLink="/">Friday Mart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto font-rubik mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            style="cursor: pointer"
          >
            HOME
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/shop"
            routerLinkActive="active"
            style="cursor: pointer"
          >
            SHOP
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/test-error"
            routerLinkActive="active"
            style="cursor: pointer"
          >
            Errors
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/shop"
            >Category <i class="fas fa-chevron-down"></i
          ></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">OnSale</a>
        </li> -->
        <!-- dropdown -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <div class="d-flex align-items-center" role="search">
        <a routerLink="/basket" class="position-relative">
          <i class="fas fa-shopping-cart me-3 fa-2x text-light"></i>
          <div
            *ngIf="basket$ | async as basket"
            class="position-absolute cart-no"
          >
            {{ basket.items?.length }}
          </div>
        </a>
        <!-- <input
          id="search"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="mx-1 btn btn-outline-dark" type="submit">Search</button> -->
      </div>
      <div class="font-rale font-size-14">
        <ng-container
          *ngIf="
            (crruntUser$ | async)?.displayName === '' ||
            (crruntUser$ | async) === null
          "
        >
          <a
            routerLink="/account/login"
            class="px-3 border-end border-start text-dark"
            >Login</a
          >
          <a
            routerLink="/account/register"
            class="px-3 border-end border-start text-dark"
            >Sign Up</a
          >
        </ng-container>
        <ng-container *ngIf="(crruntUser$ | async)?.displayName">
          <div class="btn-group">
            <a
              type="button"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <strong>Welcome {{ (crruntUser$ | async)?.displayName }}</strong>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a
                  routerLink="/basket"
                  class="dropdown-item d-flex align-items-center py-2"
                >
                  <i class="fa fa-shopping-cart me-3"></i> View Basket</a
                >
              </li>
              <li>
                <a
                  routerLink="/orders"
                  class="dropdown-item d-flex align-items-center py-2"
                >
                  <i class="fa fa-history me-3"></i> View Orders</a
                >
              </li>

              <li><hr class="dropdown-divider" /></li>
              <li>
                <a
                  class="dropdown-item d-flex align-items-center py-2"
                  style="cursor: pointer"
                  (click)="logout()"
                >
                  <i class="fa fa-sign-out me-3"></i> Logout</a
                >
              </li>
            </ul>
          </div>
          <!-- <a class="px-3">Welcome {{ (crruntUser$ | async)?.displayName }}</a>
  
          <a class="px-3 border-end border-start text-dark">Logout</a> -->
        </ng-container>
      </div>
    </div>
  </div>
</nav>
