#search{
  width: inherit !important;
  margin: 0 0.5rem;
}

.fa-shopping-cart{
  font-size: 30px !important;
}
.cart-no{
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  font-size: 1rem;
  background-color: rgb(87, 69, 167);
  color:#eee;
  text-align: center;
  top: -10px;
  right: 7px;
}


