<nav class="navbar navbar-expand-lg navbar-dark color-second-bg p-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Friday Mart</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto font-rubik mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Category <i class="fas fa-chevron-down"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Products <i class="fas fa-chevron-down"></i
          ></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">OnSale</a>
        </li>
        <!-- dropdown -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->
      </ul>
      <form class="d-flex" role="search">
        <!-- <input
          id="search"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="mx-1 btn btn-outline-dark" type="submit">Search</button> -->
        <a href="#" class="py-2 rounded-pill color-primary-bg">
          <span class="font-size-16 px-2 text-white"
            ><i class="fas fa-shopping-cart"></i
          ></span>
          <span class="px-3 py-2 rounded-pill text-dark bg-light">0</span>
        </a>
      </form>
    </div>
  </div>
</nav>
